<div id="wrapper">
          
    <div id="subscribeBox">
      <h2><span class="thin">ADD TO-DO</span> ITEM</h2>
    
    <form class="subscribeForm" [formGroup]="ToDoForm" (submit)="saveTODOItem()">
    
        <input formControlName="title" type="text" placeholder="Title*" >
        <span *ngIf="ToDoForm?.controls?.title?.invalid && isSubmit">Title is Required</span>

        <input  formControlName="notes" placeholder="Notes">
              <br/>
              <br/>
        <button type="submit" mat-raised-button color="primary" >
           {{date ? 'Update' : 'Create'}} 
        </button>
            
    </form>
            
    </div> <!-- end subscribeBox -->